<html>
  <body>
<!-- main map location -->
    <script>
// initial marker with d2d office location
      var handler = Gmaps.build('Google');
      var markers = [];
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @d2d_location.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
//  polls database every 10 seconds to check new vehicles updates
      function timeout_polling() {
        setTimeout(function()
        {
          $.ajax({
              type: "GET",
              url: window.location.origin + window.location.pathname+"/polling",
              dataType :"json",
              success:function(msg){
// remove outdated markers
                handler.removeMarkers(markers)
                markers=msg["vehicles"];
                markers.map(function(marker){
// maps pictures to markers ... could be replaced by updatign to MySQL 5.7 and saving json from backend
                  marker.picture={
                  url: marker.picture,
                  width: 32,
                  height: 32
                  };
                });
                markers = handler.addMarkers(markers);
              },
              error:function(msg)
              {
                alert("error ",msg);
              }
            });
          timeout_polling();
        }, 10000);
      }

      $(document).ready(function(){
        timeout_polling();
      });
    </script>
  </body>
</html>
